<!DOCTYPE html>
<html>
<head>
<title>Main Menu</title>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
</head>
<body>
<h1>Shop</h1>
<div class="container">
Coming Soon
</div>
<a class="btn btn-primary" id="back" href="/">Back to Main menu</a>
</body>
<script>
</script>
<style>
body{
	background-image:url(sprites/toUse/background1.png);
}
h1{
	text-align:center;
	font-size:40px;
	margin-bottom:80px;
}
.container{
	text-align:center;
	margin-left:260px;
}
.btn{
	font-size:40px;
	margin-bottom:30px;
}
</style>
</html>
